
* {
    padding: 0;
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
}
header {
    padding: 40px 98px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

li + li {
    margin-left: 35px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 51px;
    list-style: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome {
    background-image: url("img/bg_header.png");
    background-size: cover;
    padding-bottom: 50px;
}
.main-info{
    display: flex;

    justify-content: space-between;
    margin: 30px auto 100px auto;
    max-width: 1030px;
}

.photo{
    height: 420px;

}
.item {
    width: 330px;
}

.photo-legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
}

.text-main {
    display: flex;
    flex-direction: column;
    padding: 60px 48px;
    align-items: center;
}

.text-main p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
}

.arrow {
    width: 26px;
}

.button-welcome {
    height: 41px;
    padding-right: 27px;
    padding-left: 27px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    border: 1px solid #B3BAC1;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
}

.catalog {
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.catalog-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.catalog-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}